<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="connectkaliemie" connectionString="metadata=res://*/mdlKaliemie.csdl|res://*/mdlKaliemie.ssdl|res://*/mdlKaliemie.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ST216\;initial catalog=ppe4;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>